<hr>

<h2><center><%= @question.query %> by <%= @question.author %></center></h2>

<hr>


<%= link_to "Edit Question", edit_question_path(@question)%> <br> <br>

<%= link_to "Delete Question", question_path(@question), :data => {:confirm => "Are you sure?", :method => "delete"} %>

<% if @question.answers.any? %>

<h3>Here are the answers that have been added so far:</h3>

<ul>
<% @question.answers.each do |answer| %>
    <li>
        <p><%= answer.response %></p>
        <p><%= answer.name %></p>
    </li>

<% end %>

</ul>

<% else %>

<h3>No answers have been added so far</h3>

<% end %>

<%= link_to "Add New Answer", new_question_answer_path(@question) %>